<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hw5-1_compiler/src/hw5_1_compiler/User.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hw5_1_compiler.User"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hw5-1_compiler"/>
</launchConfiguration>
